extends layout

block content
  .inner
    h2= title
    //- p syncKey: #{syncKey}
    //- p Order count: #{orders.length}
    table.orderlist
      thead
          th ID
          th CHK
          th Date
          th Time
          th Product ID 
          th Product
          th Product group ID
          th Product Group
          th amount
          td price
          td Payment_type
          td clerk
          td pax
          td department
          td ean_1
          td ean_2
          td ean_3
          td ean_4
          td cost
          td Average time in seconds
      each sale in sales
        tr
          td #{sale.line.id}
          td #{sale.line.chk}
          td #{sale.line.date}
          td #{sale.line.time}
          td #{sale.line.product_id}
          td #{sale.line.product}
          td #{sale.line.product_group_id}
          td #{sale.line.product_group}
          td #{sale.line.amount}
          td #{sale.line.price}
          td #{sale.line.payment_type}
          td #{sale.line.clerk}
          td #{sale.line.pax}
          td #{sale.line.department}
          td #{sale.line.ean_1}
          td #{sale.line.ean_2}
          td #{sale.line.ean_3}
          td #{sale.line.ean_4}
          td #{sale.line.cost_price}
          td #{sale.line.average_time_in_seconds}