extends layout

block content
  .inner
    h2= title
    //- p syncKey: #{syncKey}
    p This app runs an import from OnlinePOS and dumps it into Plecto once every 10 minutes. For insights on what that data looks like please see the links below.

    ul
      li 
        a(href='/export-sales') Sales (Line items)
      li
        a(href='/view-orders') Orders