extends layout

block content
  .inner
    h2= title
    p Line Item count: #{orders.length}
	
    table.orderlist
      thead
          th id
          th chk
          th date
          th time
          th price
          th payment_type
          th department
      each order in orders
        tr
          td #{order.id}
          td #{order.chk}
          td #{order.date}
          td #{order.time}
          td #{order.price}
          td #{order.payment_type}
          td #{order.department}